.book-pic{
	position:absolute;
	top:20px;
	left:30px;
	width:250px;
	height:300px;
}
.book{
	position:absolute;
	left:38px;
	width:1200px;
	height:1500px;
	background-image:url(../picture/123.png);
	
}
.book-title{
	position:absolute;
	text-align:center;
	top:20px;
	left:290px;
	width:500px;
	height:100px;
	background:#fff;
}
.book-title-1{
	width:485px;
	height:85px;
	font: 38px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	position:relative;
	top:20px;
	left:5px;
}
.book-pr{
	position:absolute;
	top:140px;
	left:290px;
	width:500px;
	height:180px;
	background-image:url(../picture/123.png);
}
.book-shop{
	position:absolute;
	top:20px;
	left:800px;
	width:380px;
	height:300px;
	background-image:url(../picture/123.png);
}
.book-detail{
	text-align:center;
	position:absolute;
	top:340px;
	left:30px;
	width:1150px;
	height:270px;
	font: 28px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	background-image:url(../picture/123.png);
}
.book-shop-title{
	position:relative;
	left:160px;
}

.book-shop-box{
	position:relative;
	top:10px;
	left:10px;
	height:200px;
	width:355px;
	background:#fff;
}
.book-shop-box-price{
	font-size:16px;
	color:#7b7977;
}
.book-shop-box-price1{
	position:relative;
	left:10px;
	left:20px;
	font-size:18px;
	width:150px;
	height:30px;
	color:#7b7977;
}
.book-shop-box-price2{
	font-size:20px;
	color:#92e20e;
}
.book-shop-box-price3{
	position:relative;
	left:10px;
	left:20px;
	font-size:28px;
	width:150px;
	height:30px;
	color:red;
}
.book-shop-pic{
	position:relative;
	top:15px;
	left:140px;
}
.book-shop-box-mount{
	font-size:18px;
}
.book-shop-box-mount1{
	position:relative;
	top:10px;
	left:20px;
}
.writer{
	position:relative;
	top:5px;
	left:200px;
}
.writername{
	position:relative;
	left:240px;
	top:-19px;
	width:80px;
	height:20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	
}
.ISBN{
	position:relative;
	left:190px;
}
.ISBN-1{
	position:relative;
	width:350px;
	height:20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	left:240px;
	top:-24px;
}
.page{
	position:relative;
	
	left:160px;
}
.page-1{
	position:relative;
	width:350px;
	height:20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	left:240px;
	top:-26px;
}
.time{
	position:relative;
	left:160px;
	top:-5px;
}
.time-1{
	position:relative;
	width:350px;
	height:20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	left:240px;
	top:-28px;
}
.sale{
	position:relative;
	left:180px;
}
.sale-1{
	position:relative;
	width:350px;
	height:20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	left:240px;
	top:-24px;
	
}
.book-pinglun{
	position:absolute;
	top:630px;
	left:30px;
	width:1150px;
	height:850px;
	background-image:url(../picture/123.png);
}
.book-detail-write{
	position:relative;
	width:1130px;
	height:240px;
	left:10px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
}
.nav{
	z-index:999;
	width:1260px;
	height:40px;
	background:#d7f4db;
	top:0px;
}
.nav ul{
	width:980px;
	margin:0px auto;
	height:38px;
	padding:0;
	list-style:none;
}
.nav ul li{
	float:left;
}
.nav ul li a{
	width:80px;
	height:28px;
	line-height:28px;
	background:red;
	color:#FFF;
	margin:5px 10px;
	font-size:18px;
	display:block;
	text-align:center;
	text-decoration:none;
}
.nav ul li a:hover{
	width:78px;
	height:26px;
	line-height:28px;
	border:1px solid red;
	color:red;
	background:#FFF;
}

.caidan-shop{
	position:relative;
	top:-35px;
	left:950px;
	width:200px;
	height:40px;
	color:#000;
	font: 23px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
}
.pinglunname{
	border-radius:15px; 
	width:200px;
	height:70px;
	background:#fff;
	text-align:center;
}

.pinglunstar{
	border-radius:15px; 
	position:relative;
	top:3px;
	width:200px;
	height:70px;
	background:#fff;
	text-align:center;
}
.pinglunneirong{
	position:relative;
	border-radius:20px; 
	left:203px;
	top:-156px;
	width:940px;
	height:143px;
	background:#fff;
	text-align:center;
}
.pinglunall{
	position:relative;
	height:140px;
	
}