@CHARSET "US-ASCII";
.manage input{
	width:250px;
	height:30px;
}
.manage{
	z-index:999;
}
 body {
 	background:#c3f0f0;
 }
 .title{
 	font-size:38px;
 	color:#ef3023;
 	text-align:center;
 }
 .button{
 position:absolute;
 left:45%;
 top:450px;
 width:150px;
 height:50px;
 line-height:18px;
 border:0;
 margin:4px 0 0 10px;
 font-size:30px;
 } 