<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_login</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_register</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_fist</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_fist</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_aminlogin</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_aminlogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_adminreg</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_adminreg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getAllMsgByBook</servlet-name>
    <servlet-class>star.mvc.servlet.getAllMsgByBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_bshow</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_bshow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_shop</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_shop</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_search</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_search</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_upbook</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_upbook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_delbook</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_delbook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_sale</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_sale</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_admsearch</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_admsearch</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_getbook</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_getbook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>servlet_order</servlet-name>
    <servlet-class>star.mvc.servlet.servlet_order</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>servlet_login</servlet-name>
    <url-pattern>/servlet_login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_register</servlet-name>
    <url-pattern>/servlet_register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_fist</servlet-name>
    <url-pattern>/servlet_fist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_aminlogin</servlet-name>
    <url-pattern>/servlet_aminlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_adminreg</servlet-name>
    <url-pattern>/servlet_adminreg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAllMsgByBook</servlet-name>
    <url-pattern>/getAllMsgByBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_bshow</servlet-name>
    <url-pattern>/servlet_bshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_shop</servlet-name>
    <url-pattern>/servlet_shop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_search</servlet-name>
    <url-pattern>/servlet_search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_upbook</servlet-name>
    <url-pattern>/servlet_upbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_delbook</servlet-name>
    <url-pattern>/servlet_delbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_sale</servlet-name>
    <url-pattern>/servlet_sale</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_admsearch</servlet-name>
    <url-pattern>/servlet_admsearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_getbook</servlet-name>
    <url-pattern>/servlet_getbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet_order</servlet-name>
    <url-pattern>/servlet_order</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>first.jsp</welcome-file>
    </welcome-file-list>
</web-app>