@CHARSET "US-ASCII";

.book-pic{
	position:absolute;
	top:20px;
	left:30px;
	width:250px;
	height:300px;
	background:#000;
}
.book{
	position:absolute;
	left:38px;
	width:1200px;
	height:1050px;
	background-image:url(picture/123.png);
	
}
.book-title{
	position:absolute;
	top:20px;
	left:290px;
	width:500px;
	height:100px;
	background:#fff;
}
.book-title-1{
	width:485px;
	height:85px;
	position:relative;
	top:5px;
	left:5px;
	background:#000;
}
.book-pr{
	position:absolute;
	top:140px;
	left:290px;
	width:500px;
	height:180px;
	background-image:url(picture/123.png);
}
.book-shop{
	position:absolute;
	top:20px;
	left:800px;
	width:380px;
	height:300px;
	background-image:url(picture/123.png);
}
.book-detail{
	position:absolute;
	top:340px;
	left:30px;
	width:1150px;
	height:270px;
	background-image:url(picture/123.png);
}
.book-shop-title{
	position:relative;
	left:160px;
}

.book-shop-box{
	position:relative;
	top:10px;
	left:10px;
	height:200px;
	width:355px;
	background:#fff;
}
.book-shop-box-price{
	font-size:20px;
}
.book-shop-box-price1{
	position:relative;
	left:10px;
	left:20px;
	font-size:20px;
	background:#000;
	width:150px;
	height:30px;
	color:red;
}
.book-shop-pic{
	position:relative;
	top:15px;
	left:140px;
}
.book-shop-box-mount{
	font-size:20px;
}
.book-shop-box-mount1{
	position:relative;
	top:10px;
	left:20px;
}
.writername{
	position:relative;
	left:40px;
	top:-18px;
	width:80px;
	height:20px;
	background:#000;
	color:red;
}
.sale-1{
	position:relative;
	width:350px;
	height:20px;
	background:#000;
	left:70px;
	top:-18px;
	color:#000;
}
.book-pinglun{
	position:absolute;
	top:630px;
	left:30px;
	width:1150px;
	height:410px;
	background-image:url(picture/123.png);
}
.book-detail-write{
	position:relative;
	background:#000;
	width:1130px;
	height:240px;
	left:10px;
}
.nav{
	z-index:999;
	width:1260px;
	height:40px;
	background:#d7f4db;
	top:0px;
}
.nav ul{
	width:980px;
	margin:0px auto;
	height:38px;
	padding:0;
	list-style:none;
}
.nav ul li{
	float:left;
}
.nav ul li a{
	width:80px;
	height:28px;
	line-height:28px;
	background:red;
	color:#FFF;
	margin:5px 10px;
	font-size:12px;
	display:block;
	text-align:center;
	text-decoration:none;
}
.nav ul li a:hover{
	width:78px;
	height:26px;
	line-height:28px;
	border:1px solid red;
	color:red;
	background:#FFF;
}

.caidan-shop{
	position:relative;
	top:-35px;
	left:950px;
	width:200px;
	height:40px;
	color:#000;
	font: 25px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
}